@model IEnumerable<Catalog.Entities.Article>

<div class="tile">
      <div class="t-header">
          <div class="th-title">
              Список категорий
          </div>
          <br/>    
          <button class="btn btn-primary">Добавить</button>
      </div>
      
      <table id="data-table-command" class="table table-bordered table-vmiddle">
          <thead>
              <tr>
                  <th data-column-id="id" data-type="numeric">Id</th>
                  <th data-column-id="sender">Name</th>
              </tr>
          </thead>
          <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td>@article.Id</td>
                    <td>@article.Name</td>
                </tr>
            }
          </tbody>
      </table>
  </div>