<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-left">
            <a href="">
                <img src="~/Areas/Catalog/Static/Image/logo.png" runat="server" alt="">
            </a>
            
            <p class="footer-class">© 2020 Проект для тренировки</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>