<div class="header">
	<div class="top-header">
		<div class="container">
			<div class="top-head">
				<ul class="header-in">
					<li>
						<a href="products.html"> Главная</a>
					</li>
					<li>
						<a href="404.html"> О компании</a>
					</li>
				</ul>
	
				<div class="search-top">
					<div class="search">
						<form>
							<input type="text" value="Поиск нужного товара" onfocus="this.value = '';" onblur="if (this.value == '') { this.value = 'Поиск нужного товара'; }">
							<input type="submit" value="">
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>