<aside id="sidebar">
    <ul class="side-menu">
        <li class="sm-sub sms-profile">
            <a class="clearfix" href="">
                <img src="img/profile-pic.jpg" alt="">

                <span class="f-11">
                    <span class="d-block">Mallinda Hollaway</span>
                </span>
            </a>
            
            <ul>
                <li><a href="">View Profile</a></li>
                <li><a href="">Privacy Settings</a></li>
                <li><a href="">Settings</a></li>
                <li><a href="">Logout</a></li>
            </ul>
        </li>
        
        <li class="active">
            <a href="">
                <i class="zmdi zmdi-home"></i>
                <span>Главная</span>
            </a>
        </li>
        
        <li class="sm-sub">
            <a href="#">
                <i class="zmdi zmdi-collection-text"></i>
                <span>Контент <span class="label label-warning"></span></span>
            </a>
            <ul>
                <li>
                    <a href="">Категории</a>
                </li>
                <li>
                    <a href="">Товары</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>