<aside id="sidebar">
    <ul class="side-menu">
        <li class="sm-sub sms-profile">
            <a class="clearfix" href="">
                <img src="/Areas/CMS/Static/Image/profile-pic.jpg" alt="">

                <span class="f-11">
                    <span class="d-block">Перескоков Юрий</span>
                </span>
            </a>
            <ul>
                <li><a href="/">Настройки профиля</a></li>
                <li><a href="/">Выйти</a></li>
            </ul>
        </li>
        
        <li class="active">
            <a href="@Url.Action("Index", "HomeCms")">
                <i class="zmdi zmdi-home"></i>
                <span>Главная</span>
            </a>
        </li>
        
        <li class="sm-sub">
            <a href="#">
                <i class="zmdi zmdi-collection-text"></i>
                <span>Контент <span class="label label-warning"></span></span>
            </a>
            <ul>
                <li>
                    @Html.ActionLink("Категории", "Index", "ArticleCms")
                </li>
                <li>
                    @Html.ActionLink("Товары", "Index", "ProductCms")
                </li>
            </ul>
        </li>
    </ul>
</aside>